* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}

*:focus {
  outline: none;
}

a {
  color: grey;
  font-size: 2rem;
}

html {
  font-size: 62.5%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30vh;
}

header h2 {
  padding: 2rem;
}

#logo {
  text-decoration: none;
  color: #4a4483;
  font-size: 4rem;
}

.logo-n {
  background: #4a4483;
  color: white;
}

.search-form {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid #4a4483;
  border-radius: 3px 0 0 3px;
}

.submit-btn {
  background: #4a4483;
  width: 4rem;
  padding: 0.5rem;
  font-size: 2rem;
  border-radius: 0 3px 3px 0;
  border: 2px solid #4a4483;
}

.submit-btn svg {
  fill: white;
  pointer-events: none;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  width: 80%;
  margin: auto;
  gap: 5rem 3rem;
}

.photo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.gallery-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
  width: 100%;
}

.photo-img {
  height: 90%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-button {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-btn {
  border: none;
  border-radius: 2px;
  padding: 1rem 3rem;
  font-size: 2rem;
  color: white;
  background: #4a4483;
}
/*# sourceMappingURL=style.css.map */